//- ** This is a sample of a pug template and how it uses the data passed to it from index.js.

//- doctype html
//- html 
//-     head 
//-         title= `${title}`
//-         meta(name="viewport" content="width=device-width, initial-scale=1")
//-         link(rel="stylesheet", href="/css/style.css")
//-     body    
//-         h1 Contacts
//-         .cards 
//-             each contact in data
//-                 .card 
//-                     h2.card__name #{contact.properties.firstname}  #{contact.properties.lastname}
//-                     p.card__email #{contact.properties.email}
doctype html
html
  head
    title Universities | HubSpot API Integration
  body
    a(href="/update-cobj") Add a New University
    h1 List of Universities
    table(border="1")
      tr
        th University Name
        th City
        th State
        th Number of Students
      each record in records
        tr
          td= record.properties.name
          td= record.properties.city
          td= record.properties.state
          td= record.properties.number_of_students
